.product-container {
  width: 100%;
  margin: 40px 0 0px 0;
  padding: 0 0 24px 0;
  border-bottom: 1px solid var(--color-black-100);
  .product {
    @include flex(space-between, center, row);
    width: 100%;
    &__item {
      @include flex(flex-start, center, row);
    }
    &__details {
      @include flex(center, flex-start, column);
      gap: 8px;
      margin: 0 0 0 16px;
    }
    &__name {
      margin: 0;
      @include font-dtm-18;
    }
    &__info {
      margin: 0;
      @include font-dtm-14;
      color: var(--color-black-200);
    }

    &__prize-container {
      @include flex(flex-start, flex-start, row);
      height: 100%;
      gap: 4px;
    }
    &__prize {
      @include font-dtm-18;
      margin: -20px 0 0 0;
    }
    &__prize-info {
      @include font-dtm-12;
      color: var(--color-black-200);
      margin: -14px 0 0 0;
    }
  }
}
