/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@use 'styles/normalize.scss';
@use 'styles/root.scss';
@use 'styles/fonts.scss';
@use 'styles/buttons.scss';
@use 'styles/mixins.scss';

body,
html {
  min-height: 100%;
}

body {
  font-family: 'Space Grotesk', sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  &.img--cover {
    object-fit: cover;
  }
}
