.summary {
  @include flex(flex-start, flex-start, column);
  width: 100%;
  margin: 24px 0 0 0;

  &__product {
    @include flex(space-between, flex-start, row);
    width: 100%;
  }

  &__title {
    @include font-dtm-16;
    margin: 0;
    color: var(--color-black-200);
  }

  &__prize-container {
    @include flex(flex-start, flex-start, row);
    gap: 4px;
  }

  &__prize {
    @include font-dtm-16;
    margin: 0;
  }
  &__prize-info {
    color: var(--color-black-200);
    @include font-dtm-12;
    margin: 5px 0 0 0;
  }

  &__total-prize-container {
    @include flex(space-between, center, row);
    width: 100%;
    margin: 2px 0 0 0;
  }

  &__total-prize-title {
    @include font-dtm-24;
    margin: 0 0 0 0;
  }
  &__total-prize-wrapper {
    @include flex(flex-start, center, row);
    gap: 4px;
  }
  &__total-prize {
    @include font-dtm-24;
  }

  &__total-prize-info {
    color: var(--color-black-200);
    @include font-dtm-12;
    margin: 10px 0 0 0;
  }
  @media (max-width: 550px) {
      margin: 0 0 0 0;
  }
}
